@import url('reset.css');
@import url('background-image.css');
@import url('background.css');
@import url('infos.css');
@import url('menu.css');

@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

* {
  text-decoration: none;
  list-style: none;
}

:root {
  --text: #edf1f7;
  --button: rgba(255, 255, 255, 0.5);
}

html, body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

/* Estilos para telas menores que 576px (exemplo: smartphones em modo retrato) */
@media only screen and (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
  .d-none-mobile {
    display: none;
  }

}
